.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsIcon {
  margin-left: auto;
  padding: 1rem;
  img {
    width: 30px;
    height: auto;
    
  }
}
.cardList {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}
