
.button {
  display: inline-block;
  border: var(--button-border);
  /* padding: var(--padding-small); */
  font-size: 1rem;
  text-align: center;
  text-decoration: none; /* Ta bort understrykning från länken */
  cursor: pointer;
  border-radius: var(--border-radius);
  & span {
    padding: var(--padding-small);
    border-radius: var(--border-radius);
  }
}

