.button {
  display: inline-block;
  background-color: #373937;
  color: white;
  border: solid 1px white;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none; /* Ta bort understrykning från länken */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 6px white;
}

.button:hover {
  background-color: #fc051f;
}