form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem ;

  div {
    display: flex;
    flex-direction: column;    
  }
  label {
    padding-left: 8px;
  }
  input {
    max-width: 260px;
    background-color: rgba(110, 109, 112, 0.189);
    border-radius: 20px;
    &:focus {
      border-color: black;
    }
  }
  select {
    max-width: fit-content;
    background-color: rgba(110, 109, 112, 0.189);
    border-radius: 20px;
  }
  
  button {
    align-self: center;
    margin: 1rem 0 0 0;
   }
}