:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 34px;

  --line-height: 1.5;
  --font-weight: 400;

  /* Margins and paddings */
  --padding-small: 1rem;
  --padding-medium: 16px;
  --padding-large: 24px;

  --margin-small: 1rem;
  --margin-medium: 16px;
  --margin-large: 24px;

  --border-radius: 5px;


}

